<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.heun.trip.dao.QnaPhotoDao">
  
  <resultMap type="qnaphoto" id="qnaPhotoMap">
    <id column="qna_photo_id"  property="no"/>
    <result column="qna_id"   property="qnaNo"/>
    <result column="qna_photo"  property="qnaFile"/>
  </resultMap>
  
  <delete id="deleteByPQnaPhotoNo" parameterType="int">
    delete from qna_photo
    where qna_photo_id = #{value}
  </delete>
</mapper>
