<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.heun.trip.dao.RiwDao">
  
  <resultMap type="riw" id="riwMap">
    <id column="riw_id" property="no"/>
    <result column="usr_id" property="userNo"/>
    <result column="riw_conts" property="contents"/>
    <result column="grd" property="grd"/>
    <result column="cdt" property="createdDate"/>
    <result column="riw_reply" property="reply"/>
    <result column="reply_dt" property="replyDate"/>
    <result column="name" property="name"/>
    <result column="usr_photo" property="photo"/>
    <result column="rms_id" property="roomNo"/>
    <result column="rm_name" property="roomName"/>
    <result column="thum" property="roomPhoto"/>
    <result column="usr_photo" property="userPhoto"/>
    
  </resultMap>
  
  <select id="findAll" resultMap="riwMap" parameterType="map">
    select
      riw_id,
      r.usr_id,
      riw_conts,
      grd,
      r.cdt,
      riw_reply,
      reply_dt,
      rms_id,
      u.name,
      u.usr_photo
    from
      riw r
    left outer join
      usr u on r.usr_id=u.usr_id
    order by 
      cdt desc
    <if test="size != null and rowNo != null">
      limit #{rowNo}, #{size}
    </if>
  </select>
  
  <select id="findAllMypage" resultMap="riwMap" parameterType="map">
    select
      r.riw_id,
      r.usr_id,
      r.riw_conts,
      r.grd,
      r.cdt,
      r.riw_reply,
      r.reply_dt,
      m.rms_id,
      m.rm_name,
      m.thum    
    from
      riw r
    left outer join
      rms m on r.rms_id=m.rms_id    
    where
      r.usr_id = #{userNo}
    order by 
      cdt desc
    <if test="size != null and rowNo != null">
      limit #{rowNo}, #{size}
    </if>
  </select>
  



  <select id="findAllhostMypage" resultMap="riwMap" parameterType="map">
    select
      r.riw_id,
      r.usr_id,
      r.riw_conts,
      r.grd,
      r.cdt,
      r.riw_reply,
      r.reply_dt,
      m.rms_id,
      m.rm_name,
      m.thum,
      u.name
    from
      riw r
    left outer join
      rms m on r.rms_id=m.rms_id
      left outer join 
     usr u on u.usr_id=r.usr_id
    where
      m.usr_id = #{userNo}
    order by 
      cdt desc
    <if test="size != null and rowNo != null">
      limit #{rowNo}, #{size}
    </if>
  </select>



<select id="findroomreview" resultMap="riwMap" parameterType="int">
    select
      r.riw_id,
      r.usr_id,
      r.riw_conts,
      r.grd,
      r.cdt,
      r.riw_reply,
      r.reply_dt,
      m.rms_id,
      m.rm_name,
      m.thum,
      u.usr_photo,
      u.name        
    from
      riw r
    left outer join
      rms m on r.rms_id=m.rms_id 
    left outer join
      usr u on u.usr_id=m.usr_id      
    where
      m.rms_id = #{value}
    order by 
      cdt desc
   
  </select>


  <insert id="insert" parameterType="riw">
    insert into riw(
      usr_id,
      rms_id,
      riw_conts,
      grd,
      riw_reply,
      reply_dt)
    values(
      #{userNo},
      #{roomNo},
      #{contents},
      #{grd},
      #{reply},
      #{replyDate})
  </insert>
  
 
 
 
 
  <insert id="riwinsert" parameterType="riw">
    insert into riw(
      usr_id,
      rms_id,
      riw_conts,
      grd,
      riw_reply,
      reply_dt)
    values(
      #{userNo},
      #{roomNo},
      #{contents},
      #{grd},
      #{reply},
      #{replyDate})
  </insert>
 
  
 
  <select id="findByNo" resultMap="riwMap" parameterType="int">
    select
      riw_id,
      r.usr_id,
      riw_conts,
      grd,
      r.cdt,
      riw_reply,
      reply_dt,
      rms_id,
      u.name,
      u.usr_photo
    from
      riw r
    left outer join
      usr u on r.usr_id=u.usr_id
    where
      r.riw_id=#{value}
  </select>
  
      <delete id="delete" parameterType="int">

    delete 
      from riw 
    where 
      riw_id = #{no} 
  </delete>
  
     <update id="update" parameterType="riw">
    update
      riw
    set
      grd = #{grd},
      riw_conts = #{contents} 
    where 
      riw_id = #{no}
  </update>
  
  
  <update id="replyupdate" parameterType="riw">
    update
      riw
    set
      riw_reply = #{reply},
      reply_dt = #{replyDate} 
    where 
      riw_id = #{no}
  </update>
  
  
  <select id="count" parameterType="map">
    select 
     count(*) 
    from 
     riw 
    where 
     usr_id=#{userNo} and rms_id=#{roomNo}
  </select>
  
  
  
  
    <!-- 
  <select id="findByReList" resultMap="qnaMap" parameterType="map">
    select
      q.qna_id,
      u.name,
      q.parent,
      q.ordr,
      q.step,
      c.cate,
      q.title,
      q.content,
      q.cdt,
      q.vw_cnt
    from
      qna q
    left outer join
      usr u on q.usr_id=u.usr_id
    left outer join
      qna_cate c on q.qna_cate_id=c.qna_cate_id
    where
      q.parent=#{parent} and q.step<![CDATA[<]]>#{step}
    order by 
      parent asc
  </select>
  
  <select id="getCategory" resultMap="cateMap">
    select
      qna_cate_id,
      cate
    from
      qna_cate
  </select>
  
  <select id="maxParent" resultType="int">
    select
      max(parent)
    from
      qna
  </select>
  
  <select id="maxOrder" resultType="int" parameterType="int">
    select
      max(ordr)
    from
      qna
    where
      parent = #{value}
  </select>
  
  <update id="sorting" parameterType="map">
    update
      qna
    set
      ordr = ordr + 1
    where 
      parent = #{parent}
    and
      ordr <![CDATA[>]]> #{order}
  </update>
  
 
  

  

  
      
     
  
  
  
  
  
   <select id="findByNo" resultMap="qnaMap" parameterType="int">
    select * 
    from qna
    where 
      rms_id = #{value}
  </select>
  
  <update id="increaseCount" parameterType="int">
    update qna 
    set 
      vw_cnt = vw_cnt + 1 
    where qna_id = #{value}
  </update>
  
  
  <delete id="delete" parameterType="int">
    delete from qna 
    where qna_id = #{no}
  </delete>
  
  <insert id="insert" parameterType="qnaMap">
    insert into qna(
      title,
      content,
      qna_cate_id) 
    values(
      #{title}, 
      #{content}, 
      #{categoryNo})
  </insert>
  
  <update id="update" parameterType="qnaMap">
    update qna 
    set 
      title = #{title}
      content = #{content} 
      qna_cate_id = #{categoryNo}
    where board_id = #{no}
  </update> 
  
  -->
  <select id="countAll" resultType="int">
    select count(*) from riw
  </select>
   
  
</mapper>










