<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.heun.trip.dao.RoomDao">
  
  <resultMap type="room" id="roomMap">
    <id column="rms_id" property="no"/>
    <result column="rm_name" property="name"/>
    <result column="rm_chge" property="price"/>
    <result column="bed" property="bed"/>
    <result column="bath" property="bath"/>
    <result column="max_ple" property="maxPerson"/>
    <result column="post_code" property="postcode"/>
    <result column="area" property="area"/>
    <result column="addr" property="address"/>
    <result column="dtil_addr" property="detailAddress"/>
    <result column="lati" property="latitude"/>
    <result column="longi" property="longitude"/>
    <result column="cont" property="content"/>
    <result column="type" property="type"/>
    <result column="dets" property="details"/>
    <result column="reva" property="reservation"/>
    <result column="come" property="welcome"/>
    <result column="traf" property="traffic"/>
    <result column="thum" property="thumbnail"/>
    <result column="cdt" property="createdDate"/>
    <result column="usr_id" property="hostNo"/>
    <result column="grd" property="grade"/>
  </resultMap>
 
  <resultMap type="room" id="roomPhotoMap">
    <id column="rms_id" property="no"/>
    <result column="rm_name" property="name"/>
    <result column="rm_chge" property="price"/>
    <result column="bed" property="bed"/>
    <result column="bath" property="bath"/>
    <result column="max_ple" property="maxPerson"/>
    <result column="post_code" property="postcode"/>
    <result column="area" property="area"/>
    <result column="addr" property="address"/>
    <result column="dtil_addr" property="detailAddress"/>
    <result column="lati" property="latitude"/>
    <result column="longi" property="longitude"/>
    <result column="cont" property="content"/>
    <result column="type" property="type"/>
    <result column="dets" property="details"/>
    <result column="reva" property="reservation"/>
    <result column="come" property="welcome"/>
    <result column="traf" property="traffic"/>
    <result column="thum" property="thumbnail"/>
    <result column="cdt" property="createdDate"/>
    <result column="usr_id" property="hostNo"/>
    <result column="grd" property="grade"/>
    
    <collection property="photos" ofType="roomFile"> 
      <id column="r_photo_id" property="no"/>
      <result column="rms_id"  property="RoomNo"/>
      <result column="rm_photo" property="path"/>
    </collection>
    
    <collection property="conveniences" ofType="convenience"> 
      <id column="amn_id" property="no"/>
      <result column="amn"  property="name"/>
    </collection>
    
    <collection property="safeties" ofType="safety"> 
      <id column="safety_id" property="no"/>
      <result column="safety"  property="safety"/>
    </collection>
  
  </resultMap>
  
  <insert id="insert" parameterType="room" useGeneratedKeys="true" keyColumn="rms_id" keyProperty="no">
    INSERT INTO rms(
      usr_id, area, type, bed, bath, cont, dets, reva, come, 
      traf, rm_name, rm_chge, max_ple, post_code, addr, dtil_addr, lati, longi, grd, thum)
    VALUES(
      #{hostNo}, #{area}, #{type}, #{bed}, #{bath}, #{content}, #{details}, #{reservation}, 
      #{welcome}, #{traffic}, #{name}, #{price}, #{maxPerson}, #{postcode}, #{address}, #{detailAddress}, #{latitude}, 
      #{longitude}, #{grade}, #{thumbnail});
  </insert>
  
  <insert id="insertConvenience" parameterType="list">
    INSERT INTO rms_amn(
      amn_id, 
      rms_id)
    VALUES
    <foreach collection="list" item="item" separator=",">
      ("${item.no}", "${item.roomNo}")
    </foreach>
  </insert>
  
  <insert id="insertSafety" parameterType="list">
    INSERT INTO rms_safety(
      safety_id, 
      rms_id)
    VALUES
    <foreach collection="list" item="item" separator=",">
      ("${item.no}", "${item.roomNo}")
    </foreach>
  </insert>
  
  <select id="findAll" resultMap="roomMap" parameterType="map">
    select
      rms_id,
      rm_name,
      rm_chge,
      area,
      bed,
      bath,
      thum,
      lati,
      longi
    <choose>
      <when test="lati != null and longi != null">
      <![CDATA[
          ,(6371*acos(cos(radians(#{lati}))
          *cos(radians(lati))
          *cos(radians(longi)-radians(#{longi}))+sin(radians(#{lati}))*sin(radians(lati))))
          AS distance
        from
          rms
        HAVING distance <= 3
        ORDER BY distance 
      ]]>
      </when>
      <when test="lati == null and longi == null">
        from
          rms
        order by
          rms_id desc
      </when>
    </choose>
    <if test="size != null and rowNo != null">
      limit #{rowNo}, #{size}
    </if>
  </select>
  
  <select id="countAll" resultType="int" parameterType="map">
  <choose>
      <when test="lati != null and longi != null">
      <![CDATA[
          select 
            count(a.distance) 
          from (select (6371*acos(cos(radians(#{lati}))
            *cos(radians(lati))*cos(radians(longi)-radians(#{longi}))+sin(radians(#{lati}))*sin(radians(lati))))
          AS distance
        from rms
        HAVING distance <= 3) as a
      ]]>
      </when>
      <when test="lati == null and longi == null">
        select count(*) from rms
      </when>
    </choose>
  </select>
  
 <!--
  
  <select id="findByNo" resultMap="roomPhotoMap" parameterType="int">
    select
        r.rms_id,
        r.rm_name,
        r.rm_chge,
        r.max_ple,
        r.post_code,
        r.addr,
        r.dtil_addr,
        r.lati,
        r.longi,
        r.rule,
        r.map,
        r.cacl_gde,
        r.cdt,
        r.plty_gde,
        r.grd,
        u.usr_id,
        u.tel,
        u.name,
        u.usr_photo,
        p.r_photo_id,
        p.rms_id,
        p.rm_photo,
        a.amn_id,
        a.amn
    from rms r
        left outer join usr u on r.usr_id=u.usr_id
        left outer join rm_photo p on r.rms_id=p.rms_id
        left outer join rms_amn ra on r.rms_id=ra.rms_id
        left outer join amn a on ra.amn_id=a.amn_id
    where
        r.rms_id=#{value}
  </select> -->
  
</mapper>     










