.heun-title {
  width: 800px;
  height: 35px;
  margin-left: 10px;
}

#dropdownMenuButton {
  width: auto;
}

.heun-title{
  width: 500px;
}

.update-password{
   margin-left: 15px;
   width: auto;
}

.buttons{
  
   float: right;
}
