@font-face {
  font-family: 'S-CoreDream-3Light';
  src:
    url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
.content {
    font-family: 'S-CoreDream-3Light';  
}

.item-meta-info {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'S-CoreDream-3Light';  
    font-size: medium;
}

h5 {
    font-family: 'S-CoreDream-3Light';
}

.heun-from {
    font-size: medium;
}

.dropdown-toggle {
    margin-right: 25px;
}

.buttons {
    text-align: right;
    margin: 10px;
    padding: 10px;
}

.heun-catename {
    font-family: 'S-CoreDream-3Light';
    font-size: medium;
    color: #3b8ced;
    background: #ffffff;
    border-left: solid #3b8ced 3px;
    border-right: solid #3b8ced 3px;
    width: 95px;
  }

.heun-content {
    width: auto;
    height: auto;
    font-size: medium;
    white-space: pre-wrap;
    padding: 10px;
}

#reply-form {
    padding: 40px;
    margin: auto;
}

.update-title {
	margin-bottom: 10px;
}

#title {
	height: 40px;
	width: auto;
}

.update-password {
	width: 175px;
}

#cont{
    min-height: 330px;
}

