
.item-meta-info {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;

}

.dropdown-toggle {
    margin-right: 25px;
}

.buttons {
    text-align: right;
    margin: 10px;
    padding: 10px;
}

.heun-content {
    height: 300px;
    font-size: medium;
    white-space: pre-wrap;
}

#title {
	height: 40px;
	width: 350px;
}
#cont {
  height: 300px;
  width: 800px;
}

.update-password {
	width: 175px;
}
