@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

h1 {
    text-align: center;
    margin: 30px;
    font-family: 'Nanum Myeongjo', serif;
}

.dropdown {
    width: 100%;
}

.heun-cc {
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons {
    float: right;
    margin: 10px;
}

.btn-file{
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
        right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
