@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

h1 {
    text-align: center;
    margin: 30px;
    font-family: 'Nanum Myeongjo', serif;
}

.dropdown {
    width: 100%;
}

.heun-cc {
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons {
    float: right;
    margin: 10px;
}