@import url('https://fonts.googleapis.com/css?family=Song+Myung');

h1 {
    text-align: center;
    font-family: 'Song Myung', serif;
    color: #ffb216;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
p > a {
	  font-family: 'Song Myung', serif;
}

th:nth-child(1) {
	text-align: center;
	width: 100px;
}

th:nth-child(2) {
  text-align: center;
  width: 100px;
}

th:nth-child(3) {
	text-align: center;
	width: 400px;
}

th:nth-child(4) {
	text-align: center;
	width: 200px;
}

td:nth-child(1) {
	text-align: center;
}

td:nth-child(2) {
  text-align: center;
}

td:nth-child(3) {
  text-align: center;
}

td:nth-child(4) {
  text-align: center;
}

