
.blog-form-list {
    position: relative;
}

.one-form {
    position: absolute;
    padding: 5px;
    width: 300px;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;

}

.check-btn {
    float: right;
}

.blog-list-info{
	padding: 3px;
}

.img-fluid {
	max-width: 100%; 
	height: auto;"
}
