@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');


h1 {
    text-align: center;
    margin: 30px;
    font-family: 'Nanum Myeongjo', serif;
}

.item-meta-info {
	 float:right;
}

.heun-contents {
    border: 1px dashed #d3d3d3;
    padding: 10px;
}