@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap'); 

@font-face { 
  font-family: 'BBTreeGL'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
  }

h1 {
    text-align: center;
    margin: 30px;
    font-family: 'BBTreeGL';
}

#content {
    font-family: 'BBTreeGL';
}
 
.item-meta-info {
	 float:right;
}

.item-meta-info2{
    float: left;
}

.heun-contents {
    border: 1px ;
    padding: 10px;
    font-size: 1.1em;
    height: auto;
}

.likecount {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #6275a6;
  font-size: 15px;
  background: #ffffff;
  padding: 7px 20px 7px 20px;
  border: solid #869eba 3px;
  text-decoration: none;
}

.buttons {
    float: right;
}

#update-title{
  height: 40px;
  width: 900px;
  margin-top: 50px;
  margin-left: 20px; 
  font-family: 'Nanum Myeongjo', serif;
}



#cont{
    min-height: 330px;
 
}