@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Indie+Flower');


h1 {
    text-align: center;
    margin: 30px;
    font-family: 'Indie Flower', cursive;
    font-family: 'Black Han Sans', sans-serif;
}

.item-meta-info {
	 float:right;
}