.con{
	padding-left:200px;
	text-align:left;
	border:white;
	word-break:break-all;
	overflow:hidden;
	width:700px;
	resize: none;
}
.btn-qna{
margin-top:7px;
margin-left:20px;
height:25px;
padding-top:2px;
text-align:right;
	
	
}