
.riw-modal {
  text-align: center;  
}

h4 {
  color: #696969;
}
 
.rev-state {
  margin: 10px 0px 0px 0px;
  font-weight: 700;
}

.riw-write{
  float: right;
  line-height: 1.2;
}

.riw-complete{
  float: right; 
  line-height: 1.2;
}

.heun-css {
	padding-top: 0px;
}

#message-text {
  margin-top: 20px;

}
.del{
	margin-right:5px;
}
.dd{
  margin-left:870px;
  font-size:20px;
  padding:5px;
  
}
.roomcontent{
  margin-right:5px;
}
.modal-p-magin > p {
	margin-bottom: 3px;
}
.modal-p-magin > h5 {
	margin-bottom: 3px;
}
.no-gutters > span {
	width: 75px;
	margin-right: 3px;
	margin-top: 3px;
}



